@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Prompt&display=swap");

:root {
  --bs-blue: #0095eb;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #28a745;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-white: #fff;
  --bs-heading-gray: #8a8d93;
  --bs-subheading-gray: #6a6c70;
  --bs-gray-dark: #343a40;
  --bs-primary: #db6574;
  --bs-secondary: #8a8d93;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-bck-color: #22252a;
  --bs-shade-grey: #2d3035;
  --bs-background: #262932;
  --bs-font-sans-serif: "Muli", -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color:var(--bs-background);
    margin-left: 93px;
    margin-top: 80px;
    height: 80px;
}
.main button{
    display: inline-block;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--bs-background);
    border: var(--bs-background);
    color: var(--bs-blue);
}
.main h1{
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    color: var(--bs-blue);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.switch {
    position: relative;
    display:inline-block;
    width: 60px;
    height: 34px;
    
  }
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .box{
    background-color: var(--bs-background);
    margin-left: 140px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 5px;
    top: 50px;
  }
  .box h1{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFBF00;
    padding-left: 20px;
    padding-top: 20px;
}
.box hr{
    color: #FFFF8F;
    width: 1300px;
    background-color: #FFFF8F;
}
.box1 p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFF8F;
    padding-left: 200px;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: 200px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    justify-content: center;
    text-align: center;
}
.box2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.box2 p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFF8F;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    display: inline-block;
}
.box2 label{
    display: inline-block;
    top: -10px;
    margin-left: 1080px
}